{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enelpa - {% block title%}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/enelpa.css' %}">
</head>
<body>
    <div class="menu">
        <ul class="icon-nav">
            <li>
                <button class="toggle-menu" style="background-color:#254423;">
                    <span></span>
                    <span></span>
                </button>
            </li>
        </ul>
        <div id="menu">
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="">HOME</a>
                    </li>
                    <li>
                        <a href="">SERVIÇOS</a>
                    </li>
                    <li>
                        <a href="">OBRAS</a>
                    </li>
                    <li>
                        <a href="">SOBRE</a>
                    </li>
                    <li>
                        <a href="">FALE CONOSCO</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="conteudo">
        <div class="logo">
            <img src="{% static 'img/logo Enelpa-BRANCO.png' %}" width="15%" alt="Logo">
        </div>
        {% block titulo%}{% endblock titulo %}
        {% block content%}{% endblock content%}
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/enelpa.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
</body>
</html>
